.bookingDetail{
  #bookingLoopView {
    display: flex;
    
    // justify-content: center;
  }
  // .bookingData {
  //   margin: auto;
  // }

}
.booking-button{
  display: flex;
  justify-content: flex-start;
}
@media(max-width:767px){
  .booking-button{
    display: flex !important;
    flex-direction: column !important;
  }
}
::ng-deep .product-page-gallery-main #imageStyle{
  border-radius: '5%'
}
// .datials-modal{
//   display: flex;
//   justify-content: flex-end;
// }
#list-button-style{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#desc-dish-type{
  border: 2px solid #08AB93 !important;
  padding: 3px;
  border-radius: 20px;
  margin-left: 5px;
}
#buttonText{
  margin-left: 0px;
}
#booking-content{
  font-weight: bolder;
}
#cancel-button-style:hover{
  background-color: #fff;
  color: #000000;
  border:1px solid yellow;
}
#cancel-button-style{
  color: #fff;
  height: 83%;
  margin-top: 10px;
  margin-right: 15px;
}

// .booking-button{
//   margin-top: 10px;
// }
#buttonTextWarning:hover{
  background-color: #fff;
  color: black;
  border:1px solid yellow;
}
#buttonTextWarning{
  color:#fff;
}
#booking-content{
  font-weight: bolder;
}
#price-content{
  font-size: 14px;
  white-space: pre-wrap;
  // background-color: red;
}

@media(min-width:400px) and (max-width:767px){
  #booking-chef-details{
    margin-top: 16%;
  }
}
@media(max-width:575px){
  #price-content{
    margin-left: 17px;
  }
  .details-style{
    margin-left: 17px;
  }
}
@media(max-width:399px){
#booking-chef-details{
  margin-top: 20% !important;
}
}
// #pay-button{
//   margin-top: 10px;
// }
// #buttonTextCompleted{
//   margin-top: 10px;
// }
// #chat-icon-view:hover{
//   background-image: url("../../images/mock-image/open-chat-hover.png") !important;
// }
@media(max-width:767px){
#chef-request-name{
  display: flex;
  align-items: center;
}
}
@media(max-width:1199px){
  #bookingLoopView{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
@media(max-width:767px){
  #booking-details-fullview{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 0px !important;
  }
  #booking-row-view{
    justify-content: center !important;
  }
  .product-details-content > h3{
    display: flex !important;
    justify-content: center !important;
  }
  #buttonText-danger{
    margin-left: 6% !important;
  }
  #chat-button-view{
    margin-left: 0PX !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    width: 120px !important;
    margin-right: 16px !important;
  }
  #cancel-button-styl{
    width: 120px !important;
  }
  #booking-details-buttons{
    display: flex;
    // flex-direction: column;
    // align-items: center; 
    justify-content: center;
  }
}
#booking-row-view{
  justify-content: flex-start ;
}
#booking-details-fullview{
  display: flex;
  align-items: baseline;
  padding-left: 30px;
}
#booking-details-buttons{
  display: flex;
  margin-bottom: 10px !important;
}
#describe-booking{
  max-width:15% !important;
}
@media(min-width:200px) and (max-width:1024px){
  #describe-booking{
    max-width: 100% !important;
  }
}