<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51537762972-4kn9b1iu3jglch8llsjptqm9m0v2t0ot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51537762972-4kn9b1iu3jglch8llsjptqm9m0v2t0ot</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>51537762972-bj2de00o6mkiu71vbf28jrf18216j9nj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUM6QOJtra1f0A_cqw_pbeX3ume9HAvtM</string>
	<key>GCM_SENDER_ID</key>
	<string>51537762972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockoly.chef</string>
	<key>PROJECT_ID</key>
	<string>rockoly-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>rockoly-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51537762972:ios:7774a3f13b6f88bad72b59</string>
	<key>DATABASE_URL</key>
	<string>https://rockoly-dev.firebaseio.com</string>
</dict>
</plist>