.chefDetail{
  #describe-content {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
  }
  #describe-booking {
    font-size: 18px;
    font-weight: bold;
  }
  #describe-miles {
    font-size: 18px;
    margin-left: 1%;
    margin-bottom: 10px;
  }
  #describe-min {
    font-size: 18px;
    margin-left: 15px;
  }
  #specializationProfiles-content{
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 2px;
  }
  .chefReviewCount{
    padding-left: 0px;
    padding-top: 1px;
  }
  .ratingView{
    display: flex;
    margin-left: 5px;
  }
  #empty-star-content{
    display: flex;
    margin-top: 4px;
    margin-left: 1px;
    width: 26px;
  }
  #emptyStar{
    display: flex;
    margin-top: 4px;
    margin-left: 1px;
    width: 16px;
  }
  #ratingContainer {
    display: flex;
    font-size: 18px !important;
    color: #08AB93;
    // width: 28px;
    padding-bottom: 10px;
  }
  #ratingContainer-items{
    display: flex;
    font-size: 18px !important;
    color: #08AB93;
    // width: 28px;
    padding-bottom: 10px;
  }
  .reviewDisplay{
    font-size: 18px;
    color: black;
    margin-left: 12px;
  }
  .imgView{
    max-width: 25%;
    display: inline-block;
    max-height: 186px;
    padding-top: 18px;
    padding-right: 36px;
  }
  .docView{
    max-width: 100% !important;
    display: inline-block;
    max-height: 186px;
  }
  .cuisineDisplay{
    display: inline-block;
    // margin-right: 6%;
    margin-top: 10px;
    // margin-left: 6%;
    width: max-content;
  }
  .reviewDescription{
    margin-top: 10px;
    font-size: 14px;
  }
  .h3{
    font-size: 15px !important;
  }
 
  .customerpic{
    width: 100px !important;
    height: 96px !important;
    border-radius: 50%;
  }
  #ratingContainerView{
      display: flex;
      font-size: 16px !important;
      color: #08AB93;
  }
  .p{
    margin-left: 9px !important;
    margin-bottom: 0% !important;
  }
  .description-rating-view{
    margin-left: 0px !important;
  }
  #chef-content-rating{
    margin-left: 0px !important;
  }
  // .ratingsNameView{
  //   // margin-left: 19px;
  // }
  .description{
    color:#000;

  }
  #review-rating-view{
    margin-left: 4px;
  }
  .hclass{
    margin-top: 30px;
  }
  .description-content{
    font-size: 16px !important;
    // margin-bottom: 5px;
    // margin-left: 9px;
  }
  .description-name{
    font-size: 17px;
    margin-bottom: 8px;
  }
  .chef-content-fullname{
    cursor: pointer;
  }
  .icon-images{
    width: 26px;
    color: #08AB93 !important;
  }
  .reward-style{
    display: flex;
  }
  .iconColor{
    color: #08AB93;
  }
  .location{
    margin-left: 4px;
  }
//  .facebook1 {
    // max-width: 50px;
    // background-color: red;
// }
// #findchef-icons{
//   display: flex !important;
// }


// .description-data{
//   display: flex;
// }
// .description-content-text{
//   display: flex;
//   align-items: flex-end;
//   margin-left: 3%;
// }
// .description-content{
//   margin-left: 3%;
// }
// .description-business{
//   // margin-left: 8%;
// }
// #description-date{
//   display: flex;
//   align-items: flex-end;
//   margin-left: 17%;
// }
@media only screen and (min-width:300px) and (max-width:840px){
  .product-details-content{
    display: flex !important;
    flex-direction: column !important;
    margin-top: 5% !important;
  }
  
}
// @media( max-width: 844px ) and (orientation: landscape){
//   .chefDetail{
//     margin-left: 47% !important;
//   }
// }
.atag{
  display: contents !important;
}
#facebook1 {
  max-width: 28% !important;
  border-radius: 50% !important;
  max-height: 25% !important;
  margin-top: 10px !important;
}
#facebook{
  max-width: 62% !important;
  border-radius: 50% !important;
  max-height: 35% !important;
  margin-top: 13px;
}
// #cheflist-image{
//  justify-content: space-evenly !important;
// }
#submit-button{
  width: max-content;
  // margin-left: 30%;
  margin-top: 10%;
}
// .reviewon-style{
//   margin-left: 9%;
// }
.review-desc{
  margin-left: 9%;
  margin-top: 10px;
}
#cuisine-dish-type{
  border: 2px solid #08AB93 !important;
  padding: 6px;
  border-radius: 20px;
  // width: max-content;
}
#desc-dish-type{
  border: 2px solid #08AB93 !important;
  padding: 6px;
  border-radius: 20px;
  width: max-content;
}

// #description-date{
//   margin-left: 22px;
// }
// .cuisine-type{
//   margin-left: 20px;
// }
// .dish-type{
//   margin-left: 40px;
// }
// .products-details-tab  p{
//   margin-bottom: 0%  !important;
// }
// .profile-image{
//   margin-left: 8px;
// }
// #cheflist-content{
//   height: 80px !important;
// }
// #description-date{
//   margin-left: 22px !important;
// }
// .cuisine-type{
//   margin-left: 20px;
// }
// .dish-type{
//   margin-left: 40px;
// }
.products-details-tab  p{
  margin-bottom: 0%  !important;
}
.profile-image{
  margin-left: 8px;
}
#cheflist-content{
  height: 80px !important;
}
#description-full-view{
  width:70%;
}
// @media{
  @media(max-width: 767px){
  .products-details-tab .tabs {
      display: block !important;
  }
  #description-full-view{
    width:100% !important;
  }
  #price-valu-view{
    display: flex;
    justify-content: center;
  }
}
// }


}
@media(max-width:410px){
.tabs{
  display: block !important;
  // background-color: red !important;
}

}
@media(min-width:411px) and (max-width:720px){
  .tabs{
    display: block !important;
    // background-color: red !important;
  }
  .tabs > li {
    padding-bottom: 6%;
  }
}
@media(min-width:411px) and (max-width:680px)
{
  .products-details-tab .tabs li:not(:first-child) {
    margin-top: 0px !important;
}
}
@media(min-width:767px) and (max-width:991px){
  #cheflist-content{
    max-width: 26%;
  }
}
@media(max-width:767px){
  .imgView{
    max-width: 45% !important;
    display: inline-block;
    max-height: 186px;
    padding-top: 18px;
    padding-right: 36px;
  }
}
@media(max-width:670px){
  .reward-style{
    display: flex;
    flex-direction: column;
  }
  #pro-border-style{
    border-right-style: none !important;
  }
}
.top-pro-view{
  width: max-content;
}
#chef-detail-screen{
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 2%;
  max-width: 100% !important;
  width: calc(100vw - 90px );
 }

 @media(min-width:300px) and (max-width:410px){
  #Additional-mobile-view{
   width: fit-content !important;
  //  margin-right: 6%;
     // margin-top: 10px;
    //  margin-left: 6%;
 }
 #emptyStarContent{
  width:9px !important;
  margin-top: 2px !important;
  // margin-left:24% !important; 
}
}
#Additional-mobile-view{
  padding-right: 1%;
}
@media (min-width:340px) and  (max-width:400px){
  #ratingContainer{
    font-size: 9px !important;
    margin-left:0px !important;
    // width: 168px !important ;
    display: flex;
    justify-content: center !important;
    // margin-top: 2px !important;
  }
  
}
// @media(max-width:70px){
//   #complexity-content-container{
//     display: flex;
//     flex-direction: column;
//   }
// }
@media(max-width:992px){
#complexity-level-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;

}
}
@media(max-width:767px){
  #complexity-level-modal{
    padding-left: 8% !important;
    padding-right: 8% !important;
  }
}
@media(min-width:400px) and (max-width:575px){
#chef-content-profile{
  width:171px !important;
}
}
@media(max-width:450px){
  #empty-star-content{
    display: inline-block !important;
    width: 20px !important;
    margin-top: 0px !important;

  }
  .review-text-view{
    font-size: 12px;
  }
  .color-star-view{
    font-size: 11px;
  }
}
@media(min-width:575px) and (max-width:670px){
  #empty-star-content{
    display: inline-block !important;
    width: 23px !important;
    margin-top: 0px !important;

  }
  .review-text-view{
    font-size: 14px;
  }
  .color-star-view{
    font-size: 14px;
  }
}
.review-text-view{
  display: flex;
  // align-items: center;
}
@media(max-width:767px){
  .review-text-view{
    width: max-content;
    white-space: nowrap;
  }
  #chef-content-rating{
    display: flex !important;
  }
}
@media(max-width:992px){
  #card-header-view{
    padding-left: 5px !important;

  }
}
@media(min-width:576px) and (max-width:766px){
 .reward-style{
   display: flex !important;
   flex-direction: column !important;
   
 }
 #pro-border-style{
  border: none !important;
 }
}
@media(max-width:767px){
  .chef-content-fullname{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #pro-border-style{
    display: flex;
    justify-content: center;
  }
  .chefDetail #ratingContainer-items{
    // align-items: baseline !important;
    // justify-content: center !important;
    // width: auto !important;
    padding-left: 8px !important;
    display: flex !important;
    flex-direction: column;
  }
  #cheflist-content{
    display: flex !important;
    justify-content: center !important;
  }
  .chefDetail .cuisineDisplay{
    width: auto !important;
  }
  #review-text{
    display: flex;
    justify-content: center;
  }
}
@media(max-width:767px){
.review-rating > span > span{
//  background-color: red !important;
 font-size: 9px;
 position: fixed;
 top: 28%;
}
#chef-details-chat{
  margin-top: 5px;
}
}
#chef-details-chat{
  margin-left: 10%;
}