// @import '../../../assets/styles/color.scss';
// @import '../../../assets/styles/variables.scss';

#register-content,#login-content{
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  padding: 20px;
}
.auth {

  // p{
  //   color: $primary;
  //   font-size: $p_font_size;
  // }

  .register_type{
    display: flex;
    justify-content: center;
    .chef_register_type{
      display: flex;
      justify-content: flex-end;
      .chef_register_type_card{
        // width: 35%;
        background: #ABD037;
        padding: 20px;
        cursor: pointer;
        .chef_register_type_card_img{
          // width: 300px;
          // height: 400px;
        }
       
        .chef_register_type_card_div{
          text-align: center;
          // display: flex;
          // justify-content: center;
          .chef_register_type_card_div_name{
            color: white;
          }
        }
      }
    }
    .customer_register_type{
      display: flex;
      justify-content: flex-end;
      .customer_register_type_card{
        // width: 35%;
        
        background: #08AB93;
        padding: 20px;
        cursor: pointer;
        .customer_register_type_card_img{
          // width: 300px;
          // height: 400px;
        }
        .customer_register_type_card_div{
          text-align: center;
          // display: flex;
          // justify-content: center;
          .customer_register_type_card_div_name{
            color: white;
          }
        }
      }
    }
  }
  .login-form {

      .eyeIconView {
        display: flex,
      }
      i {
        font-size: 20px;
        cursor: pointer;
        position: absolute;
        right: 45px;
        margin-top: 13px;
      }
      .passwordContainer {
        display: flex;
      }
      .changePwdInputLable {
        margin-bottom: 15px;
      }
      .passwordContainer{
        .form-control {
          margin-bottom: 15px;
        }
      }
      #resetPwdButton{
        margin-top: 50px;
      }
   .forgot-password {
        margin-top: 0px !important;
    }

}

#socialLoginContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    #orFont {
      font-size: 20px,
    }

}
.orFont {
  font-size: 20px,
}
.login-keep {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
}

}
#register-content{
  width:50%;
}
#login-content{
  width:50%;
}
#google-id{
  margin-left: 15px;
}
#login-submit-button{
  width:50%;
}
.login-btn-view{
  display: flex;
  justify-content: center;
}
@media(min-width:451px) and (max-width:800px){
  #register-content{
    width:80%;
    display: flex;
    justify-content: center;
  }
  #login-content{
    width:80%;
    display: flex;
    justify-content: center;
  }
}
@media(min-width:301px) and (max-width:450px){
  #register-content{
    width:100%;
  }
  #login-content{
    width:100%;
  }
}
@media(min-width:380px) and (max-width:416px){
  #keep-me-login{
    font-size: 12px;
  }
  #password-forgot-content{
    font-size: 12px;
  }
}
// @media(max-width:379px){
//   #password-forgot-content{
//     width: 117px;
//     top: 7px;
//   }
// }
@media(max-width:767px){
  #google-id{
    margin-left: 0px !important;
    width: 100% !important;
    margin-right: 7px !important;
  }
  .login-keep{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #login-submit-button{
    width:100% !important;
  }
  #password-forgot-content{
    width: 100% !important;
    top: 0px !important;
    text-align: center !important;
  }
  .terms{
    display: contents !important;
  }
}